body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  
}

<!--editando css e estilizando tabelas--> 


table {
  border-collapse: collapse;
  width: 100%;
}


th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


tr:hover {background-color:#00ff40;}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.11);
}

li {
  float: left;
  border-right:1px solid #ffffff;
}

li:last-child {
  border-right: none;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
}

<!-- menu topnav e responsividade -->

body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3b83bd
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: black;}

ul.topnav li a.active {background-color: #30cf64;}

ul.topnav li.right {float: right;}
  
@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: #30cf64;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: #00ff40;
}
