<!DOCTYPE html>
<html lang="pt_br">
<head>
    <CodigoSecreto=291172008 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/public/favicon.ico}" rel= "icon" type="image/x-icon" /> 
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title> PWeb - by Alexsandro Rocha Junior</title>
</head>

<body>
    <ul class="topnav">
        <th><li><a href="/">Início</a></li> </th>
      <th><li><a href="/adicionarPessoa">Cadastro</a></li> </th>
      <th><li><a href="/listarPessoas">Listar pessoas</a></li> </th>
      <th><li><a href="/public/noticias.html">Canais de notícias</a></li> </th>
      <th><li><a href="/public/contato.html">Mande-nos um Email</a></li> </th>
 <th> <li><a href="/public/sobre.html">Sobre</a></li> </th>
      </ul>

      <div align="center">
      <h1>Pessoa cadastrada com sucesso!!</h1>
    
    </div>
</body>

</html>